@{
    ViewBag.Title = "About";
}
<h2>"Hayya Hayya" - FIFA World Cup 2022 Official Soundtrack</h2>
<video controls>
    <source src="~/Content/Videos/Hayya_Hayya_FIFA_World_Cup_2022_Official_Soundtrack.mp4" type="video/mp4">
</video>
